$background-light: #fff;
$background-dark: #050505;
$text-primary-light: #2d2d2d;
$text-primary-dark: #fff;
$text-secondary: #757575;
$highlight-primary: #a445ed;
$point-primary: #8f19e8;
$search: #cdcdcd;
$warning: #ff5252;
