@use "../../styles//color.module.scss";

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 50px;

  h1 {
    font-size: 4rem;
  }

  .divider {
    font-size: 1.5rem;
    color: color.$text-secondary;

    p {
      position: relative;
    }

    p::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      top: 60%;
      width: 580px;
      height: 1px;
      background-color: #e9e9e9;
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
  }
}
