@use "../../styles/color.module.scss";

footer {
  @include color.themify(color.$themes) {
    background-color: color.themed("background");
  }
}

.source {
  display: flex;
  gap: 10px;
  font-size: 1rem;

  a {
    text-decoration: none;
  }
}
